<div class="container-fluid">
  <h1>Kanji Lists</h1>
  <a class="btn btn-primary listBtn">Create List</a>
  <div *ngIf="!loading">
    <div *ngIf="data.length === 0">
      No Lists
    </div>
    <a class="itemCard card bg-info text-white mb-4 cardData" [routerLink]="['/kanjilists', item._id]" *ngFor="let item of data">
      <div class="contentTable">
        <div>
          <div>Name:</div>
          <div>Cards:</div>
          <div>Date:</div>
        </div>
        <div>
          <div>{{item.listName}}</div>
          <div>{{item.kanjiCards.length}}</div>
          <div>{{utils.convertDate(item.createDate)}}</div>
        </div>
      </div>
    </a>
  </div>
</div>
