<div class="container-fluid">
  <h1>Kanji Lists</h1>
  <a class="btn btn-success mb-4" (click)="addKanjiList()">Add List</a>
  <div *ngIf="!loading">
    <div *ngIf="data.length === 0">
      <img class="noResultImg" alt="No Results" src="../../assets/no_results.gif"/>
    </div>
    <div class="card-group mb-4 " *ngFor="let item of data; let index = index">
      <a class="listData itemCard bg-info text-white cardData" [routerLink]="['/kanjilists', item._id]">
        <div *ngIf="listDue[index] !== null">
          {{item.kanjiCards.length}}
        </div>
        <div *ngIf="listDue[index] === null">
          <span class="fa-3x">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </div>
        <div>
          <div class="contentTable">
            <div>
              <div>Name:</div>
              <div>Total Cards:</div>
              <div>Create Date:</div>
            </div>
            <div>
              <div>{{item.listName}}</div>
              <div>{{item.kanjiCards.length}}</div>
              <div>{{utils.convertDate(item.createDate)}}</div>
            </div>
          </div>
        </div>
      </a>
      <a class="listDeleteBtn itemCard cardData text-white btn-danger" (click)="removeKanjiList(item._id)">
        <div>
          <i class="fas fa-trash-alt"></i>
        </div>
      </a>
    </div>
  </div>
</div>
