<div *ngIf="loading">
  <div class="itemCard card bg-primary text-white mb-4">Loading</div>
</div>
<div *ngIf="!loading">
  <div class="card-group mb-4">
    <a class="itemCard listData bg-info text-white cardData" [routerLink]="['/kanjicards', kanjiCard._id]" [queryParams]="{sourceURL: router.url}">
      <div>
        {{kanjiCard.kanji}}
      </div>
      <div class="contentTable">
        <div>
          <div>Repetitions:</div>
          <div>Learned Status:</div>
          <div>Create Date:</div>
        </div>
        <div>
          <div>{{kanjiCard.repetitions}}</div>
          <div>{{utils.convertLearnedStatus(kanjiCard.learnedStatus)}}</div>
          <div>{{utils.convertDate(kanjiCard.createDate)}}</div>
        </div>
      </div>
    </a>
    <a class="listDeleteBtn itemCard cardData text-white btn-danger" (click)="removeKanjiCard()">
      <div>
        <i class="fas fa-trash-alt"></i>
      </div>
    </a>
  </div>
</div>
