<div class="container-fluid">
  <div *ngIf="!loading" >
    <h1>Kanji List: <span>{{data.listName}}</span><button (click)="renameKanjiList()" class="btn btn-light ml-3"><i class="fas fa-edit"></i></button></h1>
    <div class="btn-group  mb-4">
      <a class="btn btn-success listBtn"  [routerLink]="['/addkanjicard', data._id]" [queryParams]="{sourceURL: router.url}">Add Card</a>
      <a class="btn btn-primary listBtn" *ngIf="listDueNum && listDueNum > 0" [routerLink]="['/repeatlist', data._id]" [queryParams]="{sourceURL: router.url}">Repeat {{listDueNum}} Cards</a>
      <a class="btn btn-secondary listBtn disabled" *ngIf="!listDueNum || listDueNum == 0">No Cards Due</a>
      <a class="btn btn-danger listBtn"  (click)="removeKanjiList()">Remove List</a>
    </div>
    <div>
      <div *ngIf="data.kanjiCards.length === 0">
        <img class="noResultImg" alt="No Results" src="../../assets/no_results.gif"/>
      </div>
      <app-kanji-card-list-info *ngFor="let item of data.kanjiCards" [id]="item" (cardRemoved)="onCardRemoved()"></app-kanji-card-list-info>
    </div>
  </div>
</div>
