<a *ngIf="!loading && linked" class="linkedCard itemCard bg-success" [routerLink]="['/radical', radical._id]">
  <div class="linkedCardID">{{radical._id}}</div>
  <div class="linkedCardData contentTable">
    <div>
      <div>Meanings:</div>
      <div>Stroke Count:</div>
      <div>Radical Number:</div>
    </div>
    <div>
      <div *ngIf="meanings.length > 0">{{meanings}}</div><div *ngIf="meanings.length === 0">-</div>
      <div *ngIf="radical.strokes">{{radical.strokes}}</div><div *ngIf="!radical.strokes">-</div>
      <div *ngIf="radical.number">{{radical.number}}</div><div *ngIf="!radical.number">-</div>
    </div>
  </div>
</a>
<div *ngIf="!loading && !linked" class="nonLinkedCard itemCard bg-success">
  <div class="linkedCardID">{{radical._id}}</div>
  <div class="linkedCardData contentTable">
    <div>
      <div>Meanings:</div>
      <div>Stroke Count:</div>
      <div>Radical Number:</div>
    </div>
    <div>
      <div *ngIf="meanings.length > 0">{{meanings}}</div><div *ngIf="meanings.length === 0">-</div>
      <div *ngIf="radical.strokes">{{radical.strokes}}</div><div *ngIf="!radical.strokes">-</div>
      <div *ngIf="radical.number">{{radical.number}}</div><div *ngIf="!radical.number">-</div>
    </div>
  </div>
</div>

