<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" *ngIf="currentUser" href="/dashboard">Kanji 先生</a>
  <a class="navbar-brand" *ngIf="!currentUser" href="/">Kanji 先生</a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <app-search-form-top class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></app-search-form-top>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a *ngIf="currentUser" class="dropdown-item" routerLink="/settings">Settings</a>
        <a *ngIf="!currentUser" class="dropdown-item" routerLink="/login">Login</a>
        <a *ngIf="!currentUser" class="dropdown-item" routerLink="/signup">Sign Up</a>
        <a *ngIf="currentUser" class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Main</div>
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
            Home
          </a>
          <div *ngIf="currentUser">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Dashboard
            </a>
          </div>
          <div *ngIf="!currentUser">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt"></i></div>
              Login
            </a>
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
              Sign Up
            </a>
          </div>
          <div *ngIf="currentUser">
            <div class="sb-sidenav-menu-heading">Kanji Lists</div>
            <a class="nav-link" routerLink="/kanjilists" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
              Lists
            </a>
            <a class="nav-link" routerLink="/kanjicards" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-caret-square-up"></i></div>
              Cards
            </a>
          </div>
          <div *ngIf="currentUser">
            <div class="sb-sidenav-menu-heading">Dictionary</div>
            <a class="nav-link" routerLink="/search" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
              Search
            </a>
            <!--
            <a class="nav-link" routerLink="/searchkanji" [queryParams]="{ resultSearch: 'kanji' }" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-paint-brush"></i></div>
              Kanji
            </a>
            <a class="nav-link" routerLink="/searchradicals" [queryParams]="{ resultSearch: 'radical' }" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
              Radicals
            </a>
            <a class="nav-link" routerLink="/searchvocabulary" [queryParams]="{ resultSearch: 'vocabulary' }" routerLinkActive="active">
              <div class="sb-nav-link-icon"><i class="fas fa-font"></i></div>
              Vocabulary
            </a>
            -->
          </div>
        </div>
      </div>
      <div *ngIf="currentUser" class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{currentUser}}
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2020</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

