<a *ngIf="!loading && linked" class="linkedCard itemCard bg-success" [routerLink]="['/vocabulary', vocabulary._id]">
  <div class="linkedCardID">{{vocabulary.type[0]}}</div>
  <div class="linkedCardData contentTable">
    <div>
      <div>Vocabulary:</div>
      <div>Translations:</div>
      <div>Reading:</div>
    </div>
    <div>
      <div *ngIf="vocabulary.vocab">{{vocabulary.vocab}}</div><div *ngIf="!vocabulary.vocab">-</div>
      <div *ngIf="translations.length > 0">{{translations}}</div><div *ngIf="translations.length === 0">-</div>
      <div *ngIf="vocabulary.kanaReading">{{vocabulary.kanaReading}}</div><div *ngIf="!vocabulary.kanaReading">-</div>
    </div>
  </div>
</a>
<div *ngIf="!loading && !linked" class="nonLinkedCard itemCard bg-success">
  <div class="linkedCardID">{{vocabulary.type[0]}}</div>
  <div class="linkedCardData contentTable">
    <div>
      <div>Vocabulary:</div>
      <div>Translations:</div>
      <div>Reading:</div>
    </div>
    <div>
      <div *ngIf="vocabulary.vocab">{{vocabulary.vocab}}</div><div *ngIf="!vocabulary.vocab">-</div>
      <div *ngIf="translations.length > 0">{{translations}}</div><div *ngIf="translations.length === 0">-</div>
      <div *ngIf="vocabulary.kanaReading">{{vocabulary.kanaReading}}</div><div *ngIf="!vocabulary.kanaReading">-</div>
    </div>
  </div>
</div>

