<div class="container-fluid">
  <h1>Information</h1>
  <div class="table-responsive">
    Diese Demoanwendung wurde im Laufe eines Projekts im Modul "Moderne Webframeworks" entwickelt. Es befindet sich aktuell in einer ersten Prototypversion. Mit dieser Anwendung lassen sich japanische Schriftzeichen (Kanji) erlernen und kontrolliert in der Definition verschiedener eigener Listen wiederholen. Weiterhin besitzt die Anwendung ein Lexikon von nahezu 7000 Schriftzeichen und mehreren zehntausend Vokabeln.<br><br>
    <div style="color: red;">
      Diese Version ist eine Demo und läuft aktuell auf einem Server der FH Südwestfalen auf dem mehrere Studenten arbeiten.
      Auch wenn eine Anmeldung bin regulären Daten möglich wäre, bitte ich Sie trotzdem Pseudodaten und Passwörter zu verwenden.
    </div><br>
    Weiterhin ist ein öffentlicher Account definiert mit dem Sie sich durch diese Daten einloggen können:
    <br><br>
    Mail: uts72518@zwoho.com<br>
    Passwort: #Test1234<br>
  </div>
</div>
