@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.itemCard {
  padding: 10px;
}

.itemCard:hover {
  text-decoration: None;
}

h1, h2 {
  margin-bottom: 25px;
  margin-top: 25px;
}

.topSpacing {
  margin-top: 25px;
}

.linkedCard {
  color: #fff;
  padding: 20px 30px;
  cursor: pointer;
  display: flex;
  width: auto;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

.addKanji {
  color: #fff;
  padding: 20px 30px;
  width: auto;
  display:inline-block;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.contentTable {
  display: table;
}

.contentTable > div {
  display: table-cell;
}

.contentTable > div:not(:first-child) {
  padding-left: 20px;
}

.linkedCardID {
  border-right: 3px solid #fff;
  line-height: 103px;
  font-size: 76px;
  padding-right: 20px;
}

.linkedCard:hover {
  color: #fff;
}

.linkedCardData {
  font-size: 20px;
  padding-left: 20px;
}

.linkedCardData > div:first-child > div{
  white-space: nowrap;
}

.cardData {
  color: #fff;
  padding: 20px 30px;
  width: auto;
  font-size: 20px;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  display: block;
  border-radius: 0.25rem;
}

.listData {
  display:flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  flex: 1 0 0%;
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.listData > div:first-child {
  font-size: 65px;
  padding-right: 20px;
  border-right: 3px solid #fff;
  width: 85px;
  text-align: center;
}

.listData > div:first-child .fa-3x {
  font-size: 65px;
}

.listData > div:nth-child(2){
  padding-left: 20px;
}

.learnStatusBox {
  width: 100px;
  display: inline-block;
}

.cardArea {
  overflow: auto;
  resize: none;
  width: 100%;
  padding: 10px 20px;
  border: none;
  color: #333;
  border-radius: 0.25rem;
  font-size: 15px;
  min-height: 200px;
}

.cardArea:not(:focus) {
  background-color: #dedede;
  cursor: pointer;
}

.btnFullWidth {
  width: 100%;
  margin-top: 10px;
}

.levelButton {
  background-color: #007bff;
  border: None;
  color: #fff;
  margin: 0 3px;
  font-size: 15px;
  line-height: 25px;
  border-radius: 0.25rem;
}

.levelButton:disabled {
  color: #fff;
  background-color: #3090ff;
  border-color: #007bff;
}

.listDeleteBtn  {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  padding: 10px;
}

.listDeleteBtn > div {
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.noResultImg {
  display: block;
  margin: -50px auto 0 auto;
  width: 50%;
  height: auto;
}
